<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021470695782-fcpot0tp2r665dp68gdprlfonllk35mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021470695782-fcpot0tp2r665dp68gdprlfonllk35mq</string>
	<key>API_KEY</key>
	<string>AIzaSyCF4YNTwa8r3E5mfQAoTCcxXB4b5zbVg9M</string>
	<key>GCM_SENDER_ID</key>
	<string>1021470695782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodUiKit</string>
	<key>PROJECT_ID</key>
	<string>authentication-8f98b</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-8f98b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021470695782:ios:58e239a8a217b71a13a8a7</string>
</dict>
</plist>